body {
	background-color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #336699;
	line-height: 20px;
}

td, th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding:3px;
	
}

form {
	background-color: #f0f0f0;
}

/*table {
	border: 1px solid #999;
	border-collapse:collapse;
	}*/
	
	.tablaBoletin1 {
	font-weight:bold;
	font-size:11px;
	text-align:center;
	vertical-align:middle;
	  }	
	
	

thead {
	text-align:center;	
	background-color: #CCC;
	font-weight: bold;
	}


	
.letravertical
{
 -moz-transform: rotate(90deg);  /* FF3.5+ */
       -o-transform: rotate(90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
  width:200px;

	
	}
	
	

.div_flotante_autocompletar {
position:absolute;
background:#FFFFFF;
border: 1px solid #DCDCDC;
	
}




	


.tabla_transparente {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
	}

a:hover {
	border: 1px solid #939393;
	background-color: #F1F1F1;	
}
a {
	background:#F5F5F5;
	font-family: Verdana, Geneva, sans-serif;
	color:#333333;
	font-size:12px;
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
	}
	
input[type=button]{
		background:#F5F5F5;
	font-family: Verdana, Geneva, sans-serif;
	color:#333333;
	font-size:12px;
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
	}
	
	input[type=button]:hover {
	border: 1px solid #939393;
	background-color: #F1F1F1;	
}
	
/*input[type=submit]{
		background:#F5F5F5;
	font-family: Verdana, Geneva, sans-serif;
	color:#333333;
	font-size:12px;
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
	}	
	
	input[type=submit]:hover {
	border: 1px solid #939393;
	background-color: #F1F1F1;	
}*/

textarea {
	height: 80px;
	width: 300px;
}

input[type=text]{
	width: 200px;
	}
	
input[type=text].inputtextnota
{
	width: 30px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align:center;
	}	
	
input[type=password]{
	width: 200px;
	}	
	
select{
	width: 200px;
	}	
	

	
.cabecera{
	border: 2px dotted #CCC;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	}
	
.bordeBoletin{
	border: 1px solid #CCC;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	color: #444;
	}	
.boton_inspeccion {
	border-radius: 6px;
	font-size: 14px;
	color: #500;
	background-color: #FF9;
	text-align: center;
	vertical-align: middle;
	height: 100px;
	width: 100px;
	border: 1px solid #500;	
	text-decoration: none;
	}
	
.boton_inspeccion:hover {
	border-radius: 6px;
	font-size: 14px;
	color: #500;
	background-color: #FF3;
	text-align: center;
	vertical-align: middle;
	height: 100px;
	width: 100px;
	border: 1px solid #500;
	text-decoration: none;
	}	
	
	.divCursoAlumnoAlumnoBuscado {
		background:#FFF;
		overflow:hidden;
		width:300px;
		height:80px;
		 border: 1px solid #500;
		}
		
		.divAlumnoActualizarAcudienteResultado{
			background:#FFF;
		overflow:hidden;
		width:300px;
		height:80px;
		 border: 1px solid #500;
		}
		
		.slCursoAlumnoAlumnosEncontrados {
					width:300px;
		height:80px;
			}
			
			.slAlumnoAcudienteEncontrados{
					width:300px;
		height:80px;
			}
			
			
					
			
div_mensaje {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	top:0px;
	background-color:#FFCC33;
	position:absolute;
	height:48px;
	vertical-align:middle;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	text-align: center;
   filter:alpha(opacity=80);
   -moz-opacity:0.8;
   opacity: 0.8;	
}

.divUsuarioCrearResultados {
	overflow:scroll;
	background:#FFF;
	width:800px;
	height:250px;
	}
	
.divAlumnoCrearResultados {
	overflow:scroll;
	background:#FFF;
	width:800px;
	height:250px;
	}
	
	.divCampoActualizable {
		background-color:#FF9;
		border-color:#F63;
		border-width:1px;
		
		}
.trseleccionado {
	background-color:#FF9;
	
	}
	
	.divLogin {
		border-style:solid;
		border-width:1px;
		border-color:#336;
		width:400px;
		-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
		}
		
		.tamanoCarta{
	height:1056px;
	width:816px;
	margin: 2px;	
			
			
			
			
			}
			
			@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}