body {
	background-color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #336699;
	line-height: 17px;
}

td, th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	padding:1px;

	
}

form {
	background-color: #f0f0f0;
}

table {
	border: 1px solid #999;
	border-collapse:collapse;
	}
	
.tablaBoletin1 {
	font-weight:bold;
	font-size:10px;
	text-align:center;
	vertical-align:middle;
	}	


	
thead {
	text-align:center;	
	background-color: #CCC;
	font-weight: bold;
	}
	
	
.bordeBoletin{
	border: 1px solid #CCC;
	border-radius: 2px;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #444;
	}	
	
			.tamanoCarta{
	height:1056px;
	width:816px;
	margin: 2px;	
			
			
			
			
			}
			
			@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}
